.github/
.husky/
.deployments/
docs/
node_modules/
tools/

.yarn/
!.yarn/plugins/
!.yarn/releases/

.editorconfig
.env
.eslintignore
.eslintrc.js
.gitattributes
.prettierignore
.prettierrc.json
jest.config.ts
lint-staged.config.js
README.md
*.tsbuildinfo
